.walletAssets {
  width: 100%;
  :global {
    .title {
      font-family: 'SF Pro Text';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #151A30;
      margin-bottom: 12px;
    }
    .list-assets {
      display: flex;
      flex-direction: column;
      > div {
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}